* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f5f2;
    color: #222;
}

a {
    text-decoration: none;
    color: #222;
}

header {
    border-bottom: 1px solid #ddd;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    border-bottom: 1px solid #ddd;
    background: #f7f5f2;
}

.nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav a {
    font-size: 14px;
    position: relative;
    transition: 0.3s;
    font-weight: 500;
}

.nav a:hover {
    color: #8B5E3C;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #8B5E3C;
    transition: .3s;
}

.nav a:hover::after {
    width: 100%;
}

.logo {
    font-size: 42px;
    font-family: Georgia, serif;
    cursor: pointer;
    transition: .3s;
}

.logo:hover {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #444;
    border-radius: 30px;
    font-size: 12px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #3B2A1E;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.about-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
    border-top: 1px solid #ddd;
}

.about-text {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text span {
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.about-text h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 30px;
}

.about-text p {
    line-height: 1.8;
    max-width: 450px;
    margin-bottom: 30px;
}

.about-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission {
    padding: 80px;
    text-align: center;
}

.mission h2 {
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 400;
}

.mission-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.mission-card {
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    font-size: 20px;
}

.mission-card h3 {
    margin: 15px 0;
}

.mission-card p {
    font-size: 14px;
    line-height: 1.6;
}

.bottom-message {
    padding: 100px;
    text-align: center;
}

.bottom-message h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* footer */
.footer{
    display:grid;
    grid-template-columns:1fr 1fr 2fr;
    gap:40px;
    padding:50px;
    border-top:1px solid #ddd;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h4{
    margin-bottom:15px;
    cursor: default;
}

.footer-column a {
    position: relative;
    transition: 0.3s;
    text-decoration: none;
    color: #222;
}

.footer-column a:hover {
    color: #8B5E3C;
}

.footer-column a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #8B5E3C;
    transition: 0.5s;
}

.footer-column a:hover::after {
    width: 30%;
}

.footer-column p{
    cursor: default;
}

.newsletter form{
    display:flex;
    gap:10px;
}

.newsletter input{
    flex:1;
    padding:10px;
    border:none;
    border-bottom:1px solid #999;
    background:transparent;
    outline:none;
}

.newsletter input:focus{
    border-bottom:2px solid #3B2A1E;
}

.newsletter button{
    padding:10px 20px;
    border:1px solid #444;
    border-radius:30px;
    background:none;
    cursor:pointer;
    transition: 0.3s;
}

.newsletter button:hover{
    background:#3B2A1E;
    color:white;
}

.placeholder{
    margin:auto;
    border-radius:4px;
}