*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f7f5f2;
    color:#222;
}

a{
    text-decoration:none;
    color:#222;
}

header{
    border-bottom:1px solid #ddd;
}

.top-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 50px;
    border-bottom:1px solid #ddd;
    background:#f7f5f2;
}

.nav{
    display:flex;
    gap:30px;
    align-items:center;
}

.nav a{
    font-size:14px;
    position:relative;
    transition:0.3s;
    font-weight:500;
}

.nav a:hover{
    color:#8B5E3C;
}

.nav a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:#8B5E3C;
    transition:.3s;
}

.nav a:hover::after{
    width:100%;
}

.nav .active {
    color: #8B5E3C;
}

.nav .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #8B5E3C;
}

.logo{
    font-size:42px;
    font-family:Georgia, serif;
    cursor:pointer;
    transition:.3s;
}

.logo:hover{
    transform:scale(1.05);
}

.hero-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    min-height:500px;
}

.hero-text{
    padding:60px;
    border-right:1px solid #ddd;
}

.hero-text p{
    max-width:300px;
    margin-bottom:40px;
    font-size:13px;
    line-height:1.7;
}

.hero-text h1{
    margin-top:50px;
    font-size:54px;
    line-height:1;
    font-weight:400;
}

.hero-text span{
    font-style: italic;
    font-family: Georgia, serif;
    display: inline-block;
    transition:.3s;
}

.hero-text span:hover{
    font-style: italic;
    font-family: Georgia, serif;
    text-shadow: 0 0 2px #222;
    transform:scale(1.10);
    cursor: default;
}

.hero-image {
    background: #E8DCC8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img{
    width:100%;
    height:500px;
    object-fit: cover;
}

.bestsellers {
    padding: 60px 40px;
    background: #ffffff;
}

.bestsellers h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #3B2A1E;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    cursor: default;
    transition: 0.3s;
}

.bestsellers h2:hover{
    letter-spacing:4px;
    text-shadow: 0 0 1px #222;
}

.bestitems {
    text-align: center;
    font-size: 0;
}
 
.bestitem {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 22%;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    background: #ffffff;
    border-radius: 28px;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
    text-align: center;
    box-shadow: 0 6px 24px rgba(0,0,0,0.08);
    border: 2px solid rgba(0,0,0,0.04);
    transition:0.3s;
}

.bestitem:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.drinkimg {
    width: 150px;
    height: 150px;
    margin: 0 auto 50px;
    transition:0.4s;
}

.drinkimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.bestitem:hover .drinkimg{
    transform:scale(1.05);
}

.bestitem h4 {
    font-size: 14px;
    font-weight: 700;
    color: #3B2A1E;
    margin-bottom: 6px;
    letter-spacing: 0.3px;
    cursor: default;
}

.feature-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.feature-image{
    border-right:1px solid #ddd;
}

.feature-image img{
    height:550px;
}

.feature-content{
    display:grid;
    grid-template-rows:1fr 1fr;
}

.feature-box{
    border-bottom:1px solid #ddd;
    padding:50px;
}

.feature-box h2{
    font-size:48px;
    font-weight:400;
    margin-bottom:15px;
}

.feature-box p{
    margin-bottom:25px;
}

.cta-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.cta-text{
    padding:60px;
    border-right:1px solid #ddd;
}

.cta-text p{
    max-width:350px;
    margin-bottom:40px;
    line-height:1.6;
}

.cta-text h2{
    margin-top:50px;
    font-size:52px;
    font-weight:400;
}

.cta-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #444;
    border-radius: 30px;
    font-size: 12px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #3B2A1E;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

/* footer */
.footer{
    display:grid;
    grid-template-columns:1fr 1fr 2fr;
    gap:40px;
    padding:50px;
    border-top:1px solid #ddd;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h4{
    margin-bottom:15px;
    cursor: default;
}

.footer-column a {
    position: relative;
    transition: 0.3s;
    text-decoration: none;
    color: #222;
}

.footer-column a:hover {
    color: #8B5E3C;
}

.footer-column a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #8B5E3C;
    transition: 0.5s;
}

.footer-column a:hover::after {
    width: 30%;
}

.footer-column p{
    cursor: default;
}

.newsletter form{
    display:flex;
    gap:10px;
}

.newsletter input{
    flex:1;
    padding:10px;
    border:none;
    border-bottom:1px solid #999;
    background:transparent;
    outline:none;
}

.newsletter input:focus{
    border-bottom:2px solid #3B2A1E;
}

.newsletter button{
    padding:10px 20px;
    border:1px solid #444;
    border-radius:30px;
    background:none;
    cursor:pointer;
    transition: 0.3s;
}

.newsletter button:hover{
    background:#3B2A1E;
    color:white;
}

.placeholder{
    margin:auto;
    border-radius:4px;
}